//*色の指定---------------------------------

$color-white: #fff;
$color-black: #333;
$color-gray:#959595;
$color-light-gray:#f2f2f2;
$color-blue:#040865;
$color-navy-blue:#020544;
$color-purple:#2a2f90;
$color-light-purple:#f0f0fa;