//*数値から単位を取り除く--------------------------------
//*px→rem px→em px→vwにする時に便利
@function strip-unit($number) {
    //*$numberのデータタイプが"number"かつ単位がある場合、単位を削除
    //*例：$number = 30px
    //*30px / (30px * 0 + 1 = 1px) = 30;(単位を割るとなくなる)
    @if type-of($number)== 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    //*普通に数値のみの場合
    @return $number;
}

//*px→rem変換(blockの時に使う)---------------------------------
@function rem($px, $base: 16px) {
    $value: $px;

    // 単位がpx以外の場合は警告を出してそのまま返す
    @if (unit($px) !='px') {
        @warn 'rem()の引数にpx以外の値を指定しても計算できません';
        @return $value;
    }

    $value: (strip-unit($px) / strip-unit($base)) * 1rem;

    @return $value;
}

//*px→em変換(elementの時に使う)-----------------------------------

@function em($px, $base: 16px) {
    $value: $px;

    // 単位がpx以外の場合は警告を出してそのまま返す
    @if (unit($px) !='px') {
        @warn 'em()の引数にpx以外の値を指定しても計算できません';
        @return $value;
    }

    $value: (strip-unit($px) / strip-unit($base)) * 1em;

    @return $value;
}

//*px→vw変換--------------------------------------------------------------
//*スマホ表示の時はvwをよく使う・デスクトップの場合デメリットが多いので基本使わない)
@function vw($px, $base: 375px) {
    $value: $px;

    // 単位がpx以外の場合は警告を出してそのまま返す
    @if (unit($px) !='px') {
        @warn 'vw()の引数にpx以外の値を指定しても計算できません';
        @return $value;
    }

    $value: (strip-unit($px) / strip-unit($base)) * 100vw;

    @return $value;
}
